button {
  padding: 11px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

button img {
  padding-right: 8px;
}

.secondaryButton {
  background-color: transparent;
  border: 2px solid var(--secondary);
  color: var(--tertiary);
  font-weight: bold;
}

.primaryButton {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--white);
  font-weight: bold;
}

.linkButton {
  background-color: transparent;
  border: none;
  color: var(--primary);
}
