.header-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 110px;
}

.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-text h2 {
  font-size: 44;
  font-weight: bold;
}

.header-text p {
  font-weight: normal;
  font-size: 18px;
}

.header-img {
  display: flex;
}

.header-buttons {
  display: flex;
}
