@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Bold.otf");
  font-style: normal;
  font-weight: bold; /* 700 */
}

:root {
  font-size: 18px;
  --primary: #ff9900;
  --secondary: #bcd0e5;
  --tertiary: #173a56;
  --gray: #544837;
  --black: #2f281e;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
